:host {
    display: none;
    margin: 0 50px;
    min-height: 200vh;
    font-size: medium;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    font-size: 1em;
}

@media (max-width: 480px) {
    :host {
        margin: 0 30px;
    }
}