:host {
    display: block;
    font-size: medium;
}

col:first-child {
    background-color: rgba(0, 0, 0, 20%);
}

col:nth-child(2) {
    background-color: rgba(0, 0, 0, 10%);
}

thead th:nth-child(n + 3):nth-child(-n + 6) {
    cursor: pointer;
}

td:hover {
    color: white;
    font-weight: normal;
}

.highlight {
    color: lightgreen !important;
    font-weight: bold !important;
}

@media (max-width: 480px) or (max-height: 480px) {
    
}