:host {
	display: none;
	font-size: medium;
}

section {
	flex: 3;
}

ul {
	flex: 10;
}

/*menu li input:not([oninput]) {
	opacity: 0.5;
	pointer-events: none;
}*/

@media (max-width: 480px) {
	section {
		flex: 2;
	}

	h1 {
		font-size: 1.5em;
	}
}