:host {
	display: none;
	font-size: medium;
}

h1 {
	font-size: 2em;
}

/*menu li input:not([oninput]) {
	opacity: 0.5;
	pointer-events: none;
}*/

@media (max-width: 480px) {
	section {
		flex: 3;
	}

	h1 {
		font-size: 1.5em;
	}
}

@media (max-height: 480px) {
	section {
		flex: 4;
	}

	h1 {
		font-size: 2.5em;
	}
}