:host {
    display: block;
    font-size: medium;
}

col:first-child {
    background-color: rgba(0, 0, 0, 20%);
}

td:hover {
    color: white;
    font-weight: normal;
    cursor: grab;
}

tbody th {
    cursor: pointer;
}

a {
    display: block;
    color: currentColor;
    text-decoration: none;
}

@media (max-width: 480px) or (max-height: 480px) {
    
}